[project]
	description = An extension to the dashclock android widget adding support for the gerrit code review system.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kelvin (kelvinLynn1981)
[access "refs/for/refs/*"]
	read = group user/Kelvin (kelvinLynn1981)
	push = group user/Kelvin (kelvinLynn1981)
	label-Code-Review = -2..+2 group user/Kelvin (kelvinLynn1981)
	label-Verified = -1..+1 group user/Kelvin (kelvinLynn1981)
	rebase = group user/Kelvin (kelvinLynn1981)
	removeReviewer = group user/Kelvin (kelvinLynn1981)
	submit = group user/Kelvin (kelvinLynn1981)
[access "refs/heads/*"]
	read = group user/Kelvin (kelvinLynn1981)
	create = group user/Kelvin (kelvinLynn1981)
	push = +force group user/Kelvin (kelvinLynn1981)
	pushMerge = group user/Kelvin (kelvinLynn1981)
[access "refs/tags/*"]
	push = group user/Kelvin (kelvinLynn1981)
	push = +force group user/Kelvin (kelvinLynn1981)
